* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  box-sizing: border-box;
}

#relative {
  position: relative;
  padding: 10px;
  left: 875px;
  text-align: center;
  margin-bottom: 5px;
  text-align: center;
  height: 60px;
  font-size: 20px;
}

#absolute {
  background: #4aaaa5;
  width: 150px;
  position: absolute;
  padding: 20px;
  text-align: center;
  top: 0px;
  left: 170px;
  font-size: 20px;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box {
  background-color: #ffffff;
  padding: 20px;
  height: 680px;
  width: 1340px;
  border-top: 15px solid #dddddd;
  border-bottom: 120px solid #dddddd;
  border-left: 170px solid #dddddd;
  border-right: 170px solid #dddddd;
  margin: 5px;
}

#container {
  background-color: #ffffff;
  padding: 20px;
  height: 900px;
  width: 1340px;
  border-top: 15px solid #dddddd;
  border-bottom: 120px solid #dddddd;
  border-left: 170px solid #dddddd;
  border-right: 170px solid #dddddd;
  margin: 0px;
}

.left {
  float: left;
  padding: 0px 10px 10px 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  border-right: 1px solid #dddddd;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* I created a color change when hovering over navigation bar */
li a:hover {
  background-color: #dddddd;
}

.active {
  background-color: #ffffff;
}

h1,
h3 {
  color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  color: #4aaaa5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  line-height: 60px;
  border-bottom: 2px solid #cccccc;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12x 0;
  display: inline-block;
  font-weight: bold;
}

input[type="submit"] {
  width: 20%;
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* I created a color change when hovering over the submit button */
input[type="submit"]:hover {
  background-color: #777777;
}

.contact-container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 5px;
}

.boxes {
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.img-container {
  float: left;
  width: 50%;
  padding: 10px 10px 5px 5px;
  position: relative;
}

h4 {
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}

.text-block {
  position: absolute;
  bottom: 15px;
  left: 5px;
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 10px 32px;
}

/* Clear floats associated with images on Portfolio */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #666666;
  padding: 20px;
  height: 15px;
  width: 1340px;
  border: 1px solid #ffffff;
  text-align: center;
  margin: 0px;
  border-top: 8px solid #4aaaa5;
}
